/* Extra super small devices (small phones, 350px and down) */
body
{
    text-align: center;
    color: #626262;
}
h3
{
	text-align: center;
	color: black;
	font-size: calc(25px + 2vw);
}
#mainheader>h3
{
	margin-top: calc(80px + 3vw);
	margin-left: calc(5px + 1vw);/*to compensate for the empty field at the question mark*/
}

#aboutlogo
{
    width: 180px;
    height: 69px;
    width: calc(100px + 6vw);
    height: calc(39px + 2.4vw);
    margin: 0 auto;
}

#aboutphoto
{
    width: calc(150px + 20vw);
    height: calc(114px + 15.2vw);
    margin: 0 auto;
}

.nameheader
{
    font-size: calc(15px + 1.2vw);
    margin: 20px 0 10px 0;
    color: #58b220;
    font-weight: bold;
}

.indphoto
{
    width: calc(100px + 8vw);
    height: calc(100px + 8vw);
    margin: 10px auto;
}
q 
	{display: block;}
.quote
{
	max-width: 60%;
	width: calc(60px + 40%);
	margin: 0 auto 30px auto;
	padding: 0 20px;
	font-style: italic;
	font-weight: bold;
	font-size: calc(11px + 0.8vw);

	background-color: lemonchiffon;
	-webkit-box-shadow: 10px 10px 9px -2px rgba(0,0,0,0.43);
	-moz-box-shadow: 10px 10px 9px -2px rgba(0,0,0,0.43);
	box-shadow: 10px 10px 9px -2px rgba(0,0,0,0.43);
}
.section
{
	width: 90%;
	margin: 10px auto;
    padding: 0 15px;
    font-size: calc(13px + 1vw);
    font-weight: lighter;
}
#introduction .section
{
	width: calc(120px + 50vw);
	font-size: calc(15px + 1.2vw);
}
.person
{
	float: left;
	width: 100%;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.person
	{
		width: 50%;
		margin-bottom: calc(10px + 3vw);
	}
}