/* Extra super small devices (small phones, 350px and down) */


body
{
    text-align: center;
    color: rgb(119, 119, 119);
}

#mainheader
{
	margin-top: 80px;
	text-align: center;
	color: black;
	font-size: 20px;
}

#aboutlogo
{
    background-image: url('../img/logo/full-transp-black.png');
	background-size: cover !important;
	background-position: center center !important;
    background-repeat: no-repeat;
    width: 180px;
    height: 69.3px;
    margin-left: auto;
    margin-right: auto;
}

#aboutphoto
{
    width: 200px;
    height: 152px;
    margin-left: auto;
    margin-right: auto;
}

.nameheader
{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: lightseagreen;
    font-weight: bold;
}


.indphoto
{
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.quote
{
    min-width: 170px;
    max-width: 400px;
	width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: lemonchiffon;
    padding-left: 20px;
    padding-right: 20px;
    font-style: italic;
    -webkit-box-shadow: 10px 10px 9px -2px rgba(0,0,0,0.43);
    -moz-box-shadow: 10px 10px 9px -2px rgba(0,0,0,0.43);
    box-shadow: 10px 10px 9px -2px rgba(0,0,0,0.43);
}

.section
{
	width: 90%;
	margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 10px;
}

.person
{
	float: left;
	width: 100%;
}
/* Small devices (phones, 350px and up) */
@media only screen and (min-width: 350px) {
    
	#aboutlogo
	{
		width: 200px;
		height: 77px;
	}
	#aboutphoto 
    {
        width: 300px;
        height: 203px;
    }
	.section
	{
		width: 80%;
	}
} 

/* Small devices (large phones, 540px and up) */
@media only screen and (min-width: 540px) {
    
    h3 
    {
        font-size: 40px;
    }

    .section
    {
        font-size: 18px;
    }
	
	
} 
/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {
    
    #aboutphoto 
    {
        width: 400px;
        height: 271px;
    }
    
    .nameheader
    {
        font-size: 25px;
    }
    
} 

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {
    #maciej
    {
        width: 180px;
        height: 180px;
    }

	#radek
    {
        width: 180px;
        height: 180px;
    }

    .quote
    {
        line-height: 30px;
        font-weight: bold;
    }
    .section
    {
        font-size: 24px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	#aboutlogo
	{
		width: 250px;
		height: 96.25px;
	}
	.person
	{
		width: 50%;
	}
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  #introduction .section
  {
      width: 1000px;
  }
  
    .section
    {
        font-size: 30px;
    }
}

/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {
	
}