/*Extra small devices (small phones, 350px and down)*/


.name
{
    font-weight: bold;
}

.element
{
    line-height: 60px;
    background: rgb(20, 157, 199);
    color: white;
    font-size: 20px;
    border-top : 1px white dashed;
    
}

#mail:hover
{
    background: rgb(23, 176, 223);
    cursor: pointer;
}

body
{
    text-align: center;
    color: rgb(80, 79, 79);

}

h1 
{
    margin-top: 70px;
}

#fb
{
    background: #3b5999;
    color: white;
    height: 120px;
    padding-top:20px;
    padding-bottom: 10px;
    margin-top: 15px;
    line-height: 0.4;
}

#fb:hover
{
    cursor: pointer;
    background: #4b71c5;
}

#reginfo
{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
}

#form
{
    background: #201e8a;
    border-top : 1px white dashed;
    color: white;
    height: 120px;
    padding-top:20px;
    padding-bottom: 10px;
    line-height: 0.4;
}

#form:hover
{
    cursor: pointer;
    background: #2e2c85;;
}


/* Small devices (phones, 350px and up) */
@media only screen and (min-width: 350px) {
	

} 

/* Small devices (large phones, 540px and up) */
@media only screen and (min-width: 540px) {
    body 
    {
        margin-top: 60px;
    }
	
} 
/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {
    
    #fb
    {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
	
	#form
	{
		width: 50%;
        margin-left: auto;
        margin-right: auto;
	}
    .element
    {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
	
} 

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {
	
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    .element
    {
        font-size: 30px;
    }
	
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	

}
/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {
	
}