
.icon-form2:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-spin:before { content: '\e839'; } /* '' */
.icon-fb:before { content: '\f09a'; } /* '' */
.icon-html:before { content: '\f13b'; } /* '' */
.icon-css:before { content: '\f13c'; } /* '' */
.icon-form:before { content: '\f298'; } /* '' */