/*Extra small devices (small phones, 350px and down)*/

body
{
	color: #626262;
}

#gscontainer
{
    width: 100%;
    text-align: center;
}
ul {list-style-type:none; padding:0}

h1
{
	text-align: center;
	color: black;
	font-size: calc(20px + 1.5vw);
	margin-top: calc(80px + 3vw);
}
#intro
{
	width: 90%;
	margin: calc(19px + 1.4vw) auto calc(25px + 1.5vw) auto;
	width: calc(120px + 50vw);
	font-size: calc(15px + 1.2vw);
    font-weight: lighter;
}
.chapter:nth-child(2n+1)
	{background-color: black;color:white}
.chapter
{
	width: 100%;
	text-align: center;
}
.chapter::before
{
	position: absolute;
	width: 100%;
	height: calc(10px + 2vw);
	z-index: 2;
	margin-top: calc(-5px - 1vw);
}
.chapter:nth-child(2n)::before
	{background:linear-gradient(to bottom left, black 50%,white 0)}
.chapter:nth-child(2n+1)::before
	{background:linear-gradient(to bottom left, white 50%,black 0)}
.innerchapter
{
	padding: calc(20px + 2vw);
	width: calc(120px + 70vw);
	margin: 0 auto;
}
h2
{
	font-size: calc(19px + 1.4vw);
}
.questions
{
	margin: calc(19px + 1.4vw) 0;;
}
.outer-question:first-child
	{/*border-top: 1px dashed currentColor;*/}
.outer-question
{
	/*text-align: left;*/
	border-bottom: 1px dashed currentColor;
}
.question
{
	font-size: calc(15px + 1.2vw);
	padding: calc(5px + 0.5vw);
	cursor: pointer;
	transition: 0.7s
}
.chapter:nth-child(2n+1) .question-active,
.chapter:nth-child(2n+1) .question:hover
{
	background-color: #202020;
}
.chapter:nth-child(2n) .question-active,
.chapter:nth-child(2n) .question:hover
{
	background-color: #cccccc;
}
.answer
{
	font-size: calc(10px + 1vw);
    overflow: hidden;
    transition: max-height 0.7s ease-out;
}
.inneranswer
{
	padding: calc(10px + 1vw);
}
.noheight
	{max-height:0;}