/*Extra small devices (small phones, 350px and down)*/

body
{
	color: #626262;
}

#gscontainer
{
    width: 100%;
    text-align: center;
}
ul {list-style-type:none; padding:0}

h1
{
	text-align: center;
	color: black;
	font-size: calc(20px + 1.5vw);
	margin-top: calc(80px + 3vw);
}
#intro
{
	width: 90%;
	margin: calc(19px + 1.4vw) auto calc(25px + 1.5vw) auto;
	width: calc(120px + 50vw);
	font-size: calc(15px + 1.2vw);
    font-weight: lighter;
}
#chapter1,
#chapter3
	{background-color: black;color:white}
.chapter
{
	width: 100%;
	text-align: center;
}
.chapter::before
{
	position: absolute;
	width: 100%;
	height: calc(10px + 3vw);
	z-index: 2;
	margin-top: calc(-5px - 1.5vw);
}
#chapter1::before,
#chapter3::before
	{background:linear-gradient(to bottom left, white 50%,black 0)}
#chapter2::before,
#chapter4::before
	{background:linear-gradient(to bottom left, black 50%,white 0);}
.innerchapter
{
	padding: calc(20px + 2vw);
	width: calc(120px + 70vw);
	margin: 0 auto;
}
h2
{
	font-size: calc(19px + 1.4vw);
}
.questions
{
	margin: calc(19px + 1.4vw) 0;;
}
.outer-question
{
	/*text-align: left;*/
}
#chapter1 .outer-question,
#chapter3 .outer-question
	{border-bottom: 1px dashed white;}
#chapter2 .outer-question,
#chapter4 .outer-question
	{border-bottom: 1px dashed black;}
.question
{
	font-size: calc(15px + 1.2vw);
	padding: calc(5px + 0.5vw);
}
.answer
{
	overflow: hidden;
	max-height: 0;
}
/* Small devices (phones, 350px and up) */
@media only screen and (min-width: 350px) {
	
} 

/* Small devices (large phones, 540px and up) */
@media only screen and (min-width: 540px) {

} 
/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {
    
} 

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {
	
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {
	
}