/*Extra small devices (small phones, 350px and down)*/


body
{
    text-align: center;
}

h1 
{
    margin-top: 100px;
    color: rgb(0, 171, 214);
}

.howparalax
{
    display: none;
}

.element
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.elementtitle
{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.elementpic
{
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}


.element p
{
    text-align: justify;
}

#passionimg
{
    background-image: url(../img/how/min/passion.png);
}

#passiontitle
{
    color: rgb(228, 59, 59);
}

#techimg
{
    width: 250px;
    height: 102px;
    background-image: url(../img/how/min/tech.png);
}

#techtitle
{
    color: green;
}

#knowledgeimg
{
    margin-top: 10px;
    background-image: url(../img/how/min/knowledge.png);
}

#knowledgetitle
{
    color: orangered;
}

#intuitiveimg
{
    margin-top: 10px;
    background-image: url(../img/how/min/intuitive.png);
}

#intuitivetitle
{
    color: rgb(95, 95, 95);
}

#responsiveimg
{
    margin-top: 10px;
    background-image: url(../img/how/min/responsive.png);
}

#responsivetitle
{
    color: rgb(192, 91, 138);
}

/* Small devices (phones, 350px and up) */
@media only screen and (min-width: 350px) {
	

} 

/* Small devices (large phones, 540px and up) */
@media only screen and (min-width: 540px) {
    
} 
/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {
    
    section p
    {
        font-size: 18px;
    }
    .elementtitle
    {
        font-size: 28px;
    }
} 

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {
	.elementtitle
    {
        font-size: 23px;
        display: inline-block;
        margin-right: 50px;
    }
    .elementpic
    {
        display: inline-block;
        vertical-align: middle;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .howcontent
    {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
  
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1 
    {
        font-size: 40px;
    }
    .element
    {
        margin-bottom: 200px;
    }
    .elementtitle
    {
        font-size: 30px;
        display: inline-block;
        margin-right: 50px;
    }
    .elementpic
    {
        display: inline-block;
        vertical-align: middle;
    }
    section p 
    {
        font-size: 28px;
    }
}
/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {
	
}