body
{
	background-color: white;
    font-family: 'Lato', sans-serif;
}

#container
{
	width: 100%;
}

.topic 
{
	position:relative;
	height: 350px;
	width: 100%;
	text-align: center;
	background-size: cover !important;
	background-position: center center !important;
}
#topic1,
#topic3
	{background-color: white}
#topic2
	{background-color: black}
#topic1 a,
#topic3 a
	{color:black}
#topic2,
#topic2 a
	{color:white}
.topic::before
{
	position: absolute;
	width: 100%;
	height: 40px;
	z-index: 2;
	top:-20px;
}
#topic2::before
	{background:linear-gradient(to bottom left, white 50%,black 0)}
#topic3::before
	{background:linear-gradient(to bottom left, black 50%,white 0)}
	
.innertopic
{
	position:absolute;
	width:70%;
	top: 50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.topic h1
{
	font-size:17px;
}
.step
{
	font-size: 14px;
	margin: 0px auto 0px auto;
	text-align: center;
}
.step p
{
	margin: 15px 0 10px 0;
}
.step a .more
{
	font-size: 13px;
	width: 150px;
	height: 60px;
	margin: 0 auto;
}
.arrow-down.icon
{
	color: currentColor;
	position: absolute;
	margin: 12px 0 0 0;
	left:50%;
	width: 2px;
	height: 20px;
	background-color: currentColor;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition:0.5s;
	-o-transition:0.5s;
	transition: 0.5s;
}
.arrow-down.icon:before
{
	position: absolute;
	left: -5px;
	top: 8px;
	width: 10px;
	height: 10px;
	border-top: solid 2px currentColor;
	border-right: solid 2px currentColor;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
.step a .more:hover .arrow-down.icon
{
	margin: 20px 0 0 0;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition:0.5s;
	-o-transition:0.5s;
	transition: 0.5s;
}
#orderbottomheader
{
	text-align: center;
}

.orderbtn {
	margin: 20px auto;
	padding: 20px 30px 20px 30px;
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	background: #00a3cc;
	text-decoration: none;
	cursor: pointer;
	width:80%;
}

.orderbtn:hover {
	background: #00aeff;
	font-size: 23px;
	text-decoration: none;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
	.topic 
	{
		height: 500px;
	}
	.topic::before
	{
		height: 70px;
		top:-35px;
	}
	.innertopic.afterfake
	{
		top: calc(50% - 35px);
	}
	.topic h1
	{
		font-size:35px;
	}
	.step
	{
		font-size: 25px;
	}
	
	.step a .more
	{
		font-size: 17px;
	}
	.arrow-down.icon {
	}
	.arrow-down.icon:before {
	}

	.orderbtn
	{
		padding-top: 50px;
		padding-bottom: 50px;
		font-size: 36px;
	}
	.orderbtn:hover {
		font-size: 40px;
	}
} 
/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {

}