/*Extra small devices (small phones, 350px and down)*/

body
{
    text-align: center;
    margin-top: 100px;
    color: rgb(119, 119, 119);
}

select
{
    color: rgb(82, 82, 82);
    width: 95%;
    padding: 20px;
    border-radius: 20px;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-color: rgb(0, 137, 172);
  background: rgba(0, 140, 255, 0.267);
  font-size: 20px;
  font-family: 'Roboto' ,sans-serif;
}

select:hover
{
    cursor: pointer;
    background: rgba(0, 140, 255, 0.219);
}

select:focus
{
    outline: none;
}

input[type='text'] , input[type='tel'] , input[type='email']
{
    color: rgb(82, 82, 82);
    width: 95%;
    padding: 15px;
    border-radius: 20px;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-color: rgb(0, 137, 172);
  background: rgba(0, 140, 255, 0.267);
  font-size: 20px;
  font-family: 'Roboto' ,sans-serif;
}

input[type='text']:focus , input[type='tel']:focus , input[type='email']:focus
{
    outline: none;
    border-color: aqua;
}

input[type='radio']
{
    margin: 10px;
}

input[type='submit']
{
    width: 300px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 25px;
    cursor: pointer;
    background: #00a3cc;
    border: 0;
    outline: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    vertical-align: sub;
    -webkit-border-radius: 4vw;
    -moz-border-radius: 4vw;
    border-radius: 4vw;
}

#radiochoice
{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

#formcontainer
{
    width: 90%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

#captcha
{
    width: 300;
    display: inline-block;
}

/* Small devices (phones, 350px and up) */
@media only screen and (min-width: 350px) {
    

} 

/* Small devices (large phones, 540px and up) */
@media only screen and (min-width: 540px) {
        
	
} 
/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {
    
    
	
} 

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {

    input[type='text'] , input[type='tel'] , input[type='email']
{
    width: 55%;
   
}

select 
{
    width: 55%;
}

    input[type='submit']
    {
        margin-left: 10px;
    }
	
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
	
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	

}
/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {
	
}