/*Extra small devices (small phones, 350px and down)*/

body
{
    text-align: center;
    padding-top: 70px;
    color: black;
	font-family: 'Roboto' ,sans-serif;
}

body,
h2
{
	font-size: calc(15px + 1.5vw);
	line-height: 1.3;
}

select, input[type='text'] , input[type='tel'] , input[type='email'], textarea
{
	color: gray;
	width: 95%;
	padding: calc(10px + 1.5vw);
	border-radius: calc(10px + 1.5vw);
	border: calc(2px + 0.07vw) solid gray;
	background-color: white;
}

select:hover,
select:focus,
input[type='text']:hover , input[type='tel']:hover , input[type='email']:hover,
input[type='text']:focus , input[type='tel']:focus , input[type='email']:focus,
textarea:hover,
textarea:focus
{
	border-color: black;
	color: black;
    outline: none;
}

textarea
{
	resize: none;
	min-height: 100px;
}


input[type='radio']
{
    margin: 10px;
}

input[type='submit']
{
    width: 100%;
    cursor: pointer;
    background: #00a3cc;
    border: 0;
    outline: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    vertical-align: sub;
    border-radius: 20px;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-ms-transition:.7s;
	-o-transition:.7s;
	transition: .7s;
}
input[type='submit']:hover 
{
	background: #00aeff;
}

#radiochoice
{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

#formcontainer
{
    width: 90%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

#captcha
{
	display: inline-block;
	max-width:100%;
}

#rc-imageselect, .g-recaptcha 
{transform:scale(0.68);-webkit-transform:scale(0.68);transform-origin:0 0;-webkit-transform-origin:0 0;} 

/* Small devices (280px and up) */
@media only screen and (min-width: 280px) {
	#rc-imageselect, .g-recaptcha 
	{transform:scale(0.8);-webkit-transform:scale(0.8);} 
} 
/* Small devices (phones, 350px and up) */
@media only screen and (min-width: 350px) {
	#rc-imageselect, .g-recaptcha 
	{transform:scale(1);-webkit-transform:scale(1);} 
	
} 

/* Small devices (large phones, 540px and up) */
@media only screen and (min-width: 540px) {
	
	
} 
/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {
    
	input[type='text'] , input[type='tel'] , input[type='email'], textarea,select
	{
		width: 65%;
	   
	}

} 

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
	
		input[type='text'] , input[type='tel'] , input[type='email'], textarea, select
	{
		width: 45%;
	
	}

    input[type='submit']
    {
        margin-left: 10px;
    }
	
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	input[type='text'] , input[type='tel'] , input[type='email'], textarea, select
	{
		width: 35%;
	
	}

}
/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {
	
}