/*Extra small devices (small phones, 350px and down)*/

body
{
    color: #626262;
    text-align: center;
}

#services
{
    width: 90%;
    margin: calc(70px + 2vw) auto 0 auto;
}
h2
{
    border-bottom: lightgray 1px dashed;
    padding: 10px 0;
    font-size: calc(20px + 1vw);
}
.service
{
    text-align: center;
    padding-bottom: calc(15px + 1.5vw);
    border-bottom: lightgray 1px dashed;
}
.service::after
{
    clear:both;
}
.serviceheader>h3
{
    font-size: calc(20px + 0.8vw);
    color: #58b220;
    font-weight: bold;
    margin: calc(10px + 1vw) 0;
}
.servicedesc
{
    padding: 10px;
	font-size: calc(15px + 0.8vw);
}
.servicedesc p
{
    margin: 0;
}
.servicepicture
{
    width: calc(20px + 30vw);
    margin: 0 auto;
}
.servicedetails
{
    font-weight: bold;
}
.servicedetails h3
{
	font-size: calc(18px + 1.2vw);
}
.servicedetails h4
{
    margin: 0;
	font-size: calc(15px + 1vw);
}
.btn 
{
    margin: 15px 0  0;
    border-radius: calc(15px + 0.5vw);
    line-height: calc(45px + 1.5vw);
    font-size: calc(15px + 0.7vw);
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: calc(15px + 0.9vw);
    background: #5FC023;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition:.7s;
    -o-transition:.7s;
    transition: .7s;
}
.btn:hover 
{
	background: #5FE023;
	font-size: calc(18px + 0.9vw);
}
/* Small devices (large phones, 540px and up) */
@media only screen and (min-width: 540px) {
     
    .part
    {
        width: 45%;
        display: block;
        float: left;
        margin: 0 2.5%;
    }
	.servicedetails
	{
		font-weight: bold;
		height: calc(75px + 25.5vw);
		margin-top: calc(4px + 2vw);
	}
	.servicedetails h3,
	.servicedetails h4
	{
		height: 25%;
		margin: 0;
	}
	h2
	{
		padding: calc(4px + 1.5vw) 0;
		font-size: calc(25px + 1.4vw);
	}
	.serviceheader>h3
	{
		font-size: calc(22px + 1.2vw);
	}
} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 
    .service
    {
        width: 30%;
        display: inline-block;
        border: 0;
        padding: calc(4px + 1.5vw);
    }
    .part
    {
        width:100%;
        display:block;
        float: none;
        margin: 0;
    }
	.servicepicture
	{
		width: calc(20px + 15vw);
		margin: 0 auto;
	}
	.servicedetails
	{
		height: auto;
		margin-top: 0;
	}
	.servicedetails h3,
	.servicedetails h4
	{
		height: auto;
		margin: calc(4px + 2vw) 0;
	}
    #wwwpage 
    {
        border-right: 1px lightgray dashed;
        border-left: 1px lightgray dashed;
    }
    .bottomservice
    {
    	width: 40%;
    }
} 