/*Extra small devices (small phones, 350px and down)*/

body
{
    margin-top: 60px;
    color: rgb(119, 119, 119);
}

h2
{
   color: rgb(48, 46, 46);
}

#services
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.servicepicture
{
    height: 150px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    background: green;
    color: white;
    font-size: 20px;
}

.service
{
   
    text-align: center;
    border-bottom: rgba(212, 212, 212, 0.596) 1px dashed;
}

.servicedesc
{
    text-align: justify;
    padding: 10px;
}

.btn {
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background: #076f73;
    background-image: -webkit-linear-gradient(top, #076f73, #008c9e);
    background-image: -moz-linear-gradient(top, #076f73, #008c9e);
    background-image: -ms-linear-gradient(top, #076f73, #008c9e);
    background-image: -o-linear-gradient(top, #076f73, #008c9e);
    background-image: linear-gradient(to bottom, #076f73, #008c9e);
    -webkit-border-radius: 40;
    -moz-border-radius: 40;
    border-radius: 40px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #0fa3a8;
    background-image: -webkit-linear-gradient(top, #0fa3a8, #00a7ba);
    background-image: -moz-linear-gradient(top, #0fa3a8, #00a7ba);
    background-image: -ms-linear-gradient(top, #0fa3a8, #00a7ba);
    background-image: -o-linear-gradient(top, #0fa3a8, #00a7ba);
    background-image: linear-gradient(to bottom, #0fa3a8, #00a7ba);
    text-decoration: none;
  }

/* Small devices (phones, 350px and up) */
@media only screen and (min-width: 350px) {
	

} 

/* Small devices (large phones, 540px and up) */
@media only screen and (min-width: 540px) {
     
  
} 
/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {
    
    
	
} 

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {
	
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
	
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	

}
/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {
	
}