/*Extra small devices (small phones, 350px and down)*/

body
{
    color: #626262;
    text-align: center;
    margin-top: 70px;
}

h1
{
	font-size:calc(14px + 3vw);
	margin:calc(7px + 1vw);
}
#services
{
    padding: 0 3%;
}
.service
{
    text-align: center;
    padding-bottom: calc(15px + 1.5vw);
    border-bottom: lightgray 1px dashed;
}
.service::after
{
    clear:both;
}
.serviceheader>h2
{
    font-size: calc(20px + 0.8vw);
    color: #58b220;
    font-weight: bold;
    margin: calc(10px + 0.8vw) 0;
}
.servicedesc
{
    padding: 10px;
	font-size: calc(15px + 0.7vw);
}
.servicedesc p
{
    margin: 0;
}
.servicedetails
{
    font-weight: bold;
}
.servicedetails h3
{
	font-size: calc(18px + 1.2vw);
}
.servicedetails h4
{
    margin: 0;
	font-size: calc(10px + 1vw);
}
.btn 
{
    border-radius: calc(15px + 0.5vw);
    line-height: calc(45px + 1.5vw);
    font-size: calc(15px + 0.7vw);
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: calc(15px + 0.9vw);
    background: #5FC023;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition:.7s;
    -o-transition:.7s;
    transition: .7s;
}
.btn:hover 
{
	background: #5FE023;
	font-size: calc(18px + 0.9vw);
}
/* Small devices (large phones, 640px and up) */
@media only screen and (min-width: 640px) {
     
	body
		{padding:0;}
    .service
    {
    	width: 33.33%;
    	float:left;
    	border: 0;
    	padding: calc(4px + 1.5vw);
    }
    .serviceheader
    {
    	height: calc(50px + 2.5vw);
    	position: relative;
    }
	.serviceheader>h2
	{
		font-size: calc(20px + 0.8vw);
		color: #58b220;
		font-weight: bold;
		margin:0;
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}
	.servicedesc
	{
    	position: relative;
    	padding: 10px;
    	font-size: calc(15px + 0.7vw);
    	height: calc(170px - 3.5vw);
  }
	.servicedesc p
	{
		position:absolute;
		top:50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 100%;
	}
	.servicedetails
	{
		margin-top: 0;
	}
	.servicedetails h3,
	.servicedetails h4
	{
		height: auto;
		margin: calc(5px + 1.5vw) 0;
	}
    #wwwpage 
    {
        border-right: 1px lightgray dashed;
        border-left: 1px lightgray dashed;
    }
} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 
} 