body
{
    text-align: center;
    margin-top: 100px;
    color: #626262;
}

.privacc 
{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    color: #626262;
    border: none;
    border-bottom: 1px rgb(158, 154, 154) dashed;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    font-weight: bold;
}

.privacc:first-of-type
{
    border-top: 1px rgb(158, 154, 154) dashed;
}

#acccontainer
{
    margin-top: 30px;
}

.active, .privacc:hover 
{
    background-color: #ccc; 
}

.privacctxt 
{
    padding: 0 18px;
    max-height: 0;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
    
/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {
	

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}