/*Super Extra small devices ( extra small phones, 280px and down)*/

#slider-container
{
	margin-top: 40px;
	height: 170px;
	text-align: center;
}

.slider {
	position: relative;
}

/* kontener dla wszystkich slajdów */
.slides {
	height: 170px;
	position: relative;
}

/* pojedynczy slide */
.slide-js
{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity:0;
	z-index: 0;
}
.slide
{
	background-size: cover !important;
	background-position: center center !important;
}
#slide1
	{background: url(../img/slider/min/1.jpg);}
#slide2
	{background: url(../img/slider/min/2.jpg);}
#slide3
	{background: url(../img/slider/min/3.jpg);}

/* slide aktywny */
.slide-active
{
	z-index: 1;
}

/* elementy pojedynczego slajdu */
.slider .slide-title
{
	color:#fff;
	font-family: sans-serif;
	position: relative;
	left:-3rem;
	opacity:0;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top:0;
	margin-bottom:2px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	max-width:70%;
}
.slider .slide-text
{
	color:#fff;
	position: relative;
	left:-3rem;
	opacity:0;
	font-size:13px;
	color:rgba(255,255,255,.6);
	text-align: center;
	font-family: serif;
	font-style: italic;
	max-width:70%;
}

/* animacja slajdów */
.slide-js
{
	opacity: 0;
	transition:0.8s all;
}
.slider .slide-title
{
	left:-3rem;
	opacity:0;
	transition: 1s left, 1s opacity;
}
.slider .slide-text
{
	left:-3rem;
	opacity:0;
	transition: 1.2s 0.5s left, 1.2s 0.5s opacity;
}

/* aktywny slide zmienia właściwości elementów */
.slide-active
{
	opacity: 1;
}
.slide-active .slide-title 
{
	left:0;
	opacity:1;
}
.slide-active .slide-text 
{
	left:0;
	opacity:1;
}

/* przyciski strzałek slajdu */
.slider-button-prev,
.slider-button-next
{
	cursor: pointer;
	z-index: 2;
	position: absolute;
	left:0;
	top:0;
	width:15%;
	margin: 0;
	height:100%;
	background: rgba(0,0,0,0.1);
	border:0;
	text-indent:-999px;
	overflow:hidden;
}
.slider-button-next 
{
	left:auto;
	right:0;
}
.slider-button-prev:focus,
.slider-button-next:focus
{
	outline: none;
}
.slider-button-prev:before,
.slider-button-next:before 
{
	content:'<';
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	font-size:2rem;
	color:#fff;
	text-indent: 0;
}
.slider-button-next:before
{
	content: '>';
}

/* slider dots */
.slider-dots
{
	z-index: 2;
	position: absolute;
	bottom: 11px;
	padding:0;
	justify-content: center;
	list-style:none;
	width: 100%;
	margin: 0;
	border-radius: 50%;
}
.dots-container
{
	display: flex;
	width: 81px;
	margin: 0 auto;
}
.slider-dot 
{
	margin: 0 3.5px;
}
.slider-dot-button
{
	background: transparent;
	width:20px;
	height:20px;
	border:0;
	text-indent:-999px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}
.slider-dot-button:before
{
	content:'';
	position: absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	background: transparent;
	width:12px;
	height:12px;
	border-radius: 50%;
	transition:0.5s all;
	box-shadow:inset 0 0 0 2px rgba(255,255,255,0.5);
}
.slider-dot-active .slider-dot-button:before
{
	background: #fff;
	transform:translate(-50%, -50%) scale(1.2);
}
.slider-dot-button:focus
{
	outline: none;
}
/* animacje */
.dots-container,
.slider-button-prev,
.slider-button-next
{
	opacity: 0.7;
}
/* Extra small devices ( small phones, 280px and up) */
@media only screen and (min-width: 280px) {
	
	/* elementy pojedynczego slajdu */
	.slider .slide-title
	{
		font-size: 21px;
		margin-top:0;
		margin-bottom:5px;
		max-width:76%;
	}
	.slider .slide-text
	{
		font-size:15px;
		max-width:76%;
	}
	
	/* przyciski strzałek slajdu */
	.slider-button-prev,
	.slider-button-next
	{
		width:12%;
		height:100%;
	}
	
	/* slider dots */
	.slider-dots
	{
		bottom: 11px;
		padding:0;
	}
	.dots-container
	{
		width: 81px;
	}
	.slider-dot 
	{
		margin: 0 3.5px;
	}
	.slider-dot-button
	{
		width:20px;
		height:20px;
	}
	.slider-dot-button:before
	{
		width:12px;
		height:12px;
	}
} 
/* Small devices (phones, 350px and up) */
@media only screen and (min-width: 350px) {
	
	#slide1
		{background: url(../img/slider/middle/1.jpg);}
	#slide2
		{background: url(../img/slider/middle/2.jpg);}
	#slide3
		{background: url(../img/slider/middle/3.jpg);}
	
	#slider-container
	{
		height: 200px;
	}

	/* kontener dla wszystkich slajdów */
	.slides {
		height: 200px;
	}
	
	/* elementy pojedynczego slajdu */
	.slider .slide-title
	{
		font-size: 28px;
		margin-top:0;
		margin-bottom:7px;
		max-width:80%;
	}
	.slider .slide-text
	{
		font-size:19px;
		max-width:80%;
	}
	
	/* przyciski strzałek slajdu */
	.slider-button-prev,
	.slider-button-next
	{
		width:10%;
		height:100%;
	}
	
	/* slider dots */
	.slider-dots
	{
		bottom: 11px;
		padding:0;
	}
	.dots-container
	{
		width: 99px;
	}
	.slider-dot 
	{
		margin: 0 4px;
	}
	.slider-dot-button
	{
		width:25px;
		height:25px;
	}
	.slider-dot-button:before
	{
		width:14px;
		height:14px;
	}
} 

/* Small devices (large phones, 540px and up) */
@media only screen and (min-width: 540px) {
	
	#slider-container
	{
		margin-top: 50px;
		height: 300px;
	}

	/* kontener dla wszystkich slajdów */
	.slides {
		height: 300px;
	}
	
	/* elementy pojedynczego slajdu */
	.slider .slide-title
	{
		font-size: 34px;
		margin-top:0;
		margin-bottom:12px;
		max-width:86%;
	}
	.slider .slide-text
	{
		font-size:26px;
		max-width:86%;
	}
	
	/* przyciski strzałek slajdu */
	.slider-button-prev,
	.slider-button-next
	{
		width:7%;
		height:100%;
	}
	
	/* slider dots */
	.slider-dots
	{
		bottom: 15px;
		padding:0;
	}
	.dots-container
	{
		width: 126px;
	}
	.slider-dot 
	{
		margin: 0 7px;
	}
	.slider-dot-button
	{
		width:28px;
		height:28px;
	}
	.slider-dot-button:before
	{
		width:16px;
		height:16px;
	}
} 
/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {
	
	#slider-container
	{
		height: 330px;
	}

	/* kontener dla wszystkich slajdów */
	.slides {
		height: 330px;
	}
	
	/* elementy pojedynczego slajdu */
	.slider .slide-title
	{
		font-size: 45px;
		margin-top:0;
		margin-bottom:20px;
		max-width:86%;
	}
	.slider .slide-text
	{
		font-size:28px;
		max-width:86%;
	}
} 

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {
	
	#slider-container
	{
		height: 340px;
	}

	/* kontener dla wszystkich slajdów */
	.slides {
		height: 340px;
	}
	
	/* elementy pojedynczego slajdu */
	.slider .slide-title
	{
		font-size: 45px;
		margin-top:0;
		margin-bottom:15px;
		max-width:90%;
	}
	.slider .slide-text
	{
		font-size:28px;
		max-width:90%;
	}
	
	/* przyciski strzałek slajdu */
	.slider-button-prev,
	.slider-button-next
	{
		width:5%;
		height:100%;
	}
	
	/* slider dots */
	.slider-dots
	{
		bottom: 17px;
		padding:0;
	}
	.dots-container
	{
		width: 138px;
	}
	.slider-dot 
	{
		margin: 0 8px;
	}
	.slider-dot-button
	{
		width:30px;
		height:30px;
	}
	.slider-dot-button:before
	{
		width:18px;
		height:18px;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
	#slide1
		{background: url(../img/slider/max/1.jpg);}
	#slide2
		{background: url(../img/slider/max/2.jpg);}
	#slide3
		{background: url(../img/slider/max/3.jpg);}
	
	#slider-container
	{
		height: 360px;
	}

	/* kontener dla wszystkich slajdów */
	.slides {
		height: 360px;
	}
	
	/* elementy pojedynczego slajdu */
	.slider .slide-title
	{
		font-size: 60px;
		margin-top:0;
		margin-bottom:20px;
		max-width:92%;
	}
	.slider .slide-text
	{
		font-size:30px;
		max-width:92%;
	}
	
	/* przyciski strzałek slajdu */
	.slider-button-prev,
	.slider-button-next
	{
		width:4%;
		height: 50px;
		margin-top: 155px;
	}
	
	/* animacje */
	.dots-container,
	.slider-button-prev,
	.slider-button-next
	{
		opacity: 0;
		transition: 0.3s all;
	}
	.slider:hover .dots-container,
	.slider:hover .slider-button-prev,
	.slider:hover .slider-button-next
	{
		opacity: 0.7;
		transition: 0.3s all;
	}
	.slider:hover .dots-container:hover,
	.slider:hover .slider-button-prev:hover,
	.slider:hover .slider-button-next:hover
	{
		opacity: 1;
		transition: 0.3s all;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
	#slider-container
	{
		height: 390px;
	}

	/* kontener dla wszystkich slajdów */
	.slides {
		height: 390px;
	}
	
	/* elementy pojedynczego slajdu */
	.slider .slide-title
	{
		font-size: 70px;
		margin-top:0;
		margin-bottom:25px;
		max-width:94%;
	}
	.slider .slide-text
	{
		font-size:35px;
		max-width:94%;
	}
	
	/* przyciski strzałek slajdu */
	.slider-button-prev,
	.slider-button-next
	{
		width:3%;
		margin-top: 170px;
	}
}

/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {
	#slider-container
	{
		height: 420px;
		max-width: 2500px;
	}

	/* kontener dla wszystkich slajdów */
	.slides {
		height: 420px;
	}
	
	/* elementy pojedynczego slajdu */
	.slider .slide-title
	{
		font-size: 80px;
		margin-top:0;
		margin-bottom:30px;
		max-width:94%;
	}
	.slider .slide-text
	{
		font-size:40px;
		max-width:94%;
	}
	
	/* przyciski strzałek slajdu */
	.slider-button-prev,
	.slider-button-next
	{
		width:3%;
		margin-top: 185px;
	}
}