/*Super Extra small devices ( extra small phones, 280px and down)*/

#slider-container
{
	height: 30%;
    width: 100%;
	margin-top: 50px;
	text-align: center;
}
.slider {
	position: relative;
	height: 100%;
}

/* kontener dla wszystkich slajdów */
.slides {
	height: 100%;
	position: relative;
}

/* pojedynczy slide */
.slide
{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display: flex;
	display: -webkit-flex; 
	justify-content: center;
	align-items: center;
	-webkit-align-items: center; 
	flex-direction: column;
	-webkit-flex-direction: column;
	z-index: 0;-
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;
	background-position: center center !important;
}

#slide1 {background: #086484 url("../img/slider/pixel/1.jpg")}
#slide2 {background: #232323 url("../img/slider/pixel/2.jpg")}
#slide3 {background: #cacaca url("../img/slider/pixel/3.jpg")}

/* slide aktywny */
.slide-active
{
	z-index: 1;
}

/* elementy pojedynczego slajdu */

.slider .slide-title
{
	z-index: 5;
	max-width:70%;
	color:#fff;
	position: relative;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top:0;
	margin-bottom:2px;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);}
.slider .slide-text
{
	z-index: 5;
	max-width:70%;
	color:#fff;
	position: relative;
	font-size:13px;
	text-align: center;
	font-family: serif;
	font-style: italic;
	text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
}

/* animacja slajdów */
.slide
{
	opacity: 0;
	transition:0.8s all;
}
.slider .slide-title
{
	left:-3rem;
	opacity:0;
	transition: 1s left, 1s opacity;
}
.slider .slide-text
{
	left:-3rem;
	opacity:0;
	transition: 1.2s 0.5s left, 1.2s 0.5s opacity;
}

/* aktywny slide zmienia właściwości elementów */
.slide-active
{
	opacity: 1;
}
.slide-active .slide-title 
{
	left:0;
	opacity:1;
}
.slide-active .slide-text 
{
	left:0;
	opacity:1;
}

/* przyciski strzałek slajdu */
.slider-button-prev,
.slider-button-next
{
	cursor: pointer;
	z-index: 2;
	position: absolute;
	top:0;
	width:15%;
	margin: 0;
	height:100%;
	background: rgba(0,0,0,0.1);
	border:0;
	text-indent:-999px;
	overflow:hidden;
}

.slider-button-prev
{
	left:0;
}
.slider-button-next 
{
	right:0;
}
.slider-button-prev:focus,
.slider-button-next:focus
{
	outline: none;
}
.slider-button-prev:before,
.slider-button-next:before 
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	font-size:2rem;
	color:#fff;
	text-indent: 0;
}
.slider-button-prev:before
{
	content:'<';
}
.slider-button-next:before
{
	content: '>';
}

/* slider dots */
.slider-dots
{
	z-index: 2;
	position: absolute;
	bottom: 11px;
	padding:0;
	justify-content: center;
	list-style:none;
	width: 100%;
	margin: 0;
	border-radius: 50%;
}
.dots-container
{
	display: flex;
	width: 81px;
	margin: 0 auto;
}
.slider-dot 
{
	margin: 0 3.5px;
}
.slider-dot-button
{
	background: transparent;
	width:20px;
	height:20px;
	border:0;
	text-indent:-999px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}
.slider-dot-button:before
{
	content:'';
	position: absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform:translate(-50%, -50%);
	background: transparent;
	width:12px;
	height:12px;
	border-radius: 50%;
	transition:0.5s all;
	box-shadow:inset 0 0 0 2px rgba(255,255,255,0.5);
}
.slider-dot-active .slider-dot-button:before
{
	background: #fff;
	-webkit-transform: translate(-50%, -50%) scale(1.2);
	-moz-transform: translate(-50%, -50%) scale(1.2);
	-o-transform: translate(-50%, -50%) scale(1.2);
	transform:translate(-50%, -50%) scale(1.2);
}
.slider-dot-button:focus
{
	outline: none;
}
/* animacje */
.dots-container,
.slider-button-prev,
.slider-button-next
{
	opacity: 0.7;
}
/* Extra small devices ( small phones, 280px and up) */
@media only screen and (min-width: 280px) {
	
	/* elementy pojedynczego slajdu */
	.slider .slide-title
	{
		width:76%;
		font-size: 21px;
		margin-bottom:5px;
	}
	.slider .slide-text
	{
		width:76%;
		font-size:15px;
	}
	
	/* przyciski strzałek slajdu */
	.slider-button-prev,
	.slider-button-next
	{
		width:12%;
	}
	
	/* slider dots */
	.slider-dots
	{
		bottom: 11px;
	}
	.dots-container
	{
		width: 81px;
	}
	.slider-dot 
	{
		margin: 0 3.5px;
	}
	.slider-dot-button
	{
		width:20px;
		height:20px;
	}
	.slider-dot-button:before
	{
		width:12px;
		height:12px;
	}
} 
/* Small devices (phones, 350px and up) */
@media only screen and (min-width: 360px) {
	
	#slider-container
	{
		height: 50%;
	}
	/* elementy pojedynczego slajdu */
	.slider .slide-title
	{
		max-width:80%;
		font-size: 28px;
		margin-bottom:7px;
	}
	.slider .slide-text
	{
		max-width:80%;
		font-size:19px;
	}
	
	/* przyciski strzałek slajdu */
	.slider-button-prev,
	.slider-button-next
	{
		width:10%;
	}
	
	/* slider dots */
	.slider-dots
	{
		bottom: 11px;
	}
	.dots-container
	{
		width: 99px;
	}
	.slider-dot 
	{
		margin: 0 4px;
	}
	.slider-dot-button
	{
		width:25px;
		height:25px;
	}
	.slider-dot-button:before
	{
		width:14px;
		height:14px;
	}
} 

/* Small devices (large phones, 540px and up) */
@media only screen and (min-width: 540px) {
	
	/* elementy pojedynczego slajdu */
	.slider .slide-title
	{
		max-width:86%;
		font-size: 34px;
		margin-bottom:12px;
	}
	.slider .slide-text
	{
		max-width:86%;
		font-size:26px;
	}
	
	/* przyciski strzałek slajdu */
	.slider-button-prev,
	.slider-button-next
	{
		width:7%;
	}
	
	/* slider dots */
	.slider-dots
	{
		bottom: 15px;
	}
	.dots-container
	{
		width: 126px;
	}
	.slider-dot 
	{
		margin: 0 7px;
	}
	.slider-dot-button
	{
		width:28px;
		height:28px;
	}
	.slider-dot-button:before
	{
		width:16px;
		height:16px;
	}
} 
/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {
	
	/* elementy pojedynczego slajdu */
	.slider .slide-title
	{
		font-size: 45px;
		margin-bottom:20px;
	}
	.slider .slide-text
	{
		font-size:28px;
	}
} 

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {
	
	/* elementy pojedynczego slajdu */
	.slider .slide-title
	{
		max-width:90%;
		font-size: 45px;
		margin-bottom:15px;
	}
	.slider .slide-text
	{
		max-width:90%;
		font-size:28px;
	}
	
	/* przyciski strzałek slajdu */
	.slider-button-prev,
	.slider-button-next
	{
		width:5%;
		height:100%;
	}
	
	/* slider dots */
	.slider-dots
	{
		bottom: 17px;
	}
	.dots-container
	{
		width: 138px;
	}
	.slider-dot 
	{
		margin: 0 8px;
	}
	.slider-dot-button
	{
		width:30px;
		height:30px;
	}
	.slider-dot-button:before
	{
		width:18px;
		height:18px;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
	#slider-container
	{
		height: 100%;
		margin-top: 0;
	}

	/* elementy pojedynczego slajdu */
	.slider .slide-title
	{
		max-width:92%;
		font-size: 60px;
		margin-bottom:20px;
	}
	.slider .slide-text
	{
		max-width:92%;
		font-size:30px;
	}
	
	/* przyciski strzałek slajdu */
	.slider-button-prev,
	.slider-button-next
	{
		width:4%;
		height: 50px;
		border: 0px solid #000000;
		top:50%;
		-webkit-transform: translate(0, -50%);
		-moz-transform: translate(0, -50%);
		-o-transform: translate(0, -50%);
		transform: translate(0, -50%);
	}
	.slider-button-prev
	{
		left: 0;
		border-radius: 0px 200px 200px 0px;
		-moz-border-radius: 0px 200px 200px 0px;
		-webkit-border-radius: 0px 200px 200px 0px;
	}
	.slider-button-next
	{
		
		border-radius: 200px 0px 0px 200px;
		-moz-border-radius: 200px 0px 0px 200px;
		-webkit-border-radius: 200px 0px 0px 200px;
	}
	
	/* animacje */
	.dots-container,
	.slider-button-prev,
	.slider-button-next
	{
		opacity: 0;
		transition: 0.3s all;
	}
	.slider:hover .dots-container,
	.slider:hover .slider-button-prev,
	.slider:hover .slider-button-next
	{
		opacity: 0.7;
		transition: 0.3s all;
	}
	.slider:hover .dots-container:hover,
	.slider:hover .slider-button-prev:hover,
	.slider:hover .slider-button-next:hover
	{
		opacity: 1;
		transition: 0.3s all;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	
	/* elementy pojedynczego slajdu */
	.slider .slide-title
	{
		max-width:94%;
		font-size: 70px;
		margin-bottom:30px;
	}
	.slider .slide-text
	{
		max-width:94%;
		font-size:35px;
	}
	
	/* przyciski strzałek slajdu */
	.slider-button-prev,
	.slider-button-next
	{
		width:3%;
	}
}

/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {
	
	/* elementy pojedynczego slajdu */
	.slider .slide-title
	{
		font-size: 100px;
		margin-bottom:45px;
	}
	.slider .slide-text
	{
		font-size:50px;
	}
}