/* Extra super small devices (small phones, 350px and down) */
#container
{
	margin: 20px 0 0 0;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}

#text
{
	width: 100%;
	margin-top: 20px;
}

.step
{
	margin-top: 20px;
	height: 350px;
}
.step:after
{
	clear: both;
}
.step p 
{
	width: 100%;
	font-size: 12px;
	float: left;
	text-align: left;
}
.stepimg
{
	display: none;
}

#stepimg1
	{background-image: url(../img/steps/s1.png);}

#stepimg2
	{background-image: url(../img/steps/s2.png);} 

#stepimg3
	{background-image: url(../img/steps/s3.png);}

footer
{
	width: 100%;
	height: 20px;
	color: whitesmoke;
	background: #20326b;
	position: fixed;
	bottom: 0;
	text-align: center;
	border-top: gray 1px solid;
	font-size: 9px;
	line-height: 20px;
	
}
/* Small devices (phones, 350px and up) */
@media only screen and (min-width: 350px) {
	

} 

/* Small devices (large phones, 540px and up) */
@media only screen and (min-width: 540px) {
	
	
} 
/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {
	
	
} 

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {
	
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	
	
	
	#text
	{
		width: 1300px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-top: 50px;
	}
	
	.step 
	{
		margin-top: 50px;
	}

	.step p
	{
		width: 50%;
		font-size: 20px;
	}

	.stepimg
	{
	   width: 310px;
	   display: inline-block;
	   height: 100%;
	   background-repeat: no-repeat;
	   color: black;
	   font-family: 'Lato', sans-serif;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	

/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {
	#container
	{
		max-width: 2200px;
	}
}